@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background: #497D1E;
}

body{
    background: linear-gradient(211.13deg, #497D1E -11.28%, #67903F 23.58%, #92B46B 51.04%);
}

a{
    text-decoration: none;
}


h1{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 12.5rem;
    font-weight: 700;
    line-height: 240px;
    letter-spacing: -0.125em;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2{
    font-family: 'Roboto';
    font-style: italic;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;

}

p{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
}

/*  */

@media screen and (max-width: 1115px) {
    h1{
        font-size: 10.5rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 9.5rem;
    }

    h2 {
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 670px) {
    h1 {
        font-size: 7.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 5.5rem;
    }

    h2 {
        font-size: 2.3rem;
    }

    p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

.cont{
    scroll-snap-type: y mandatory;
}

.col{
    scroll-snap-align: center;
}

img{
    width: 65%;
}

.img{
    height: 37rem;
    width: 14rem;
}

.img p{
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    height: 100%;
    width: 100%;

    -o-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.img p:hover{
    opacity: 0.8;
}

#img1{
    background: url(../img/Rectangle\ 94.png)no-repeat;
}

#img2{
    background: url(../img/Rectangle\ 95.png)no-repeat;
}

#img3{
    background: url(../img/Rectangle\ 96.png)no-repeat;
}

.appear{
    opacity: 0;  
    transform: translateY(20px);
    
}

@media screen and (max-width: 1115px) {
    img {
        width: 60%;
    }

    .img {
        height: 30rem;
        width: 11rem;
    }

    #img1,
    #img2,
    #img3{
        background-size: contain;
    }

    .img p{
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    img {
        width: 85%;
    }

}

@media screen and (max-width: 670px) {
    .img {
        height: 28rem;
    }
}

@media screen and (max-width: 600px) {
    .img {
        height: 24rem;
    }
}

@media screen and (max-width: 570px) {
    .img {
        height: 22.5rem;
    }
}

@media screen and (max-width: 470px) {
    img {
        width: 95%;
    }

    .img {
       margin: 3% !important;
       width: 8rem;
    }

    .photo{
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 320px) {
    img {
        width: 100%;
    }
}
