@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Megrim&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background: #000000 ;
    height: 100%;
}

body{
    background: linear-gradient(222.31deg, #113067 4.49%, #061836 64.93%, #000000 90.38%);
    height: 100%;
}

.fond {
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 33%;
    z-index: 0;

}

.txt{
    font-family: 'Red Hat Text';
    font-weight: 700;
    font-size: 222px;
    text-transform: uppercase;
    color: #0A2047;

    white-space: nowrap;
    animation: scrollTxt 30s linear infinite;
}


@keyframes scrollTxt {
    0%{
        transform: translate(-100%,0);
    }

    100%{
        transform: translate(0%, 0);
    }
}


/*********************************************************************************************************** HORIZONTALE **********************************************************************/

@media screen and (max-height: 660px){
    .fond{
        top: 25%;
    }

    .txt {
        font-size: 165px;
    }

}

@media screen and (max-height: 510px){
    .fond{
        top: 25%;
    }

    .txt {
        font-size: 165px;
    }

}

@media screen and (max-height: 320px){
    .fond{
        top: 25%;
    }

    .txt {
        font-size: 90px;
    }

}

/************************************************************************************************************ GRID ******************************************************************************/

.rela{
    position: relative;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

/************************************************************************************************************ MAIN ****************************************************************************/

main{
    width: 100%;
}

.content{
    width: 63%;
}


/************************************************************************************************** TITRE **************************************************************************************/


h1{
    font-size: 15.31rem;
    font-family: 'Megrim';
    font-weight: 500; 
    background: linear-gradient(180deg, #FFFFFF 13.11%, #B3CBF5 43.87%, #6083C2 69.83%, #476FB5 88.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    position: absolute;
    top: 5%;
    left: 8%;
    z-index: 2;

}

/***************************************************************************** HORIZONTALE ***************************************************************************************************/

@media screen and (min-width: 2303px){
    h1{
        top: 10%;
    }
}

@media screen and (max-width: 1543px){  
    .h1{
        top: 13%;
        font-size: 13rem;
    }
}

@media screen and (max-width: 1440px){
    h1 {
        font-size: 5rem;

        font-weight: 500;
        background: #FFFFFF;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: -18%;
        left: 13%;
        z-index: 2;
    }
}

@media screen and (max-width: 1350px){
    h1 {
        font-size: 4rem;
        top: -16%;
        left: 18%;
        z-index: 0;
    }
}


@media screen and (max-width: 900px){
    h1 {
        display: none;
    }
}

.photo{
    overflow: hidden;

}

@media screen and (max-width: 1172px){
    .photo{
        width: 100%;
    }
}

/************************************************************************************************************ CARTE ****************************************************************************/

.carte{
    width: 66.313rem;
    height: 28rem;
    background: #09214D;
    padding: 0 90px 0;

    position: relative;
    bottom: -15%;

}

article{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    color: #FFFFFF;
}

article a{
    font-weight: 500;
}
article a:hover {
    color: #476FB5;
}

.pdf{
    background: #000000;
    padding: 8px 3.5rem;
}

.pdf:hover{
    background: #0A2047;
    color: #FFFFFF;
    border: solid 1px #000000;
    transition: .25s;
}

/***************************************************************************************************** HORIZONTAL ******************************************************************************/

@media screen and (min-width: 2303px) {
    .carte {
        width: 75.313rem;
        height: 35rem;
        bottom: -30%;
        left: 15%;
    }

    article {
        font-size: 20px;
    }
}

@media screen and (max-width: 1880px){
    .carte{
        bottom: -8%;
    }
}

@media screen and (max-width: 1715px){
    .carte {
        width: 60.313rem;
        height: 25rem;
        bottom: -10%;
    }
    .content {
        width: 70%;
    }
}

@media screen and (max-width: 1543px){
    .content {
        width: 75%;
    }
}

@media screen and (max-width: 1440px){
    .content {
        width: 80%;
    }

    .carte {
        width: 60.313rem;
        height: 27rem;
        bottom: -5%;
    }
}

@media screen and (max-width: 1350px){
    .content {
        width: 85%;
    }
}

@media screen and (max-width: 1280px){
    .content {
        width: 90%;
    }
}

@media screen and (max-width: 1224px){
    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 1172px){
    .content {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .carte {
        width: 95%;
    }
}

@media screen and (max-width: 900px){
    .carte {
        padding: 0 60px 0;
        bottom: -15%;
    }
}

@media screen and (max-width: 800px) {
    .fond {
        overflow: hidden;
        width: 100%;
        position: absolute;
        top: 10%;
        /* z-index: -1; */
    }

    .photo{
        display: none !important;
    }

    .txt {
        font-size: 190px;
    }

    article {
        font-size: 16px;
    }

    .carte{
        background: none;
        font-size: 15px;
        padding: 0px 20px 0;
        bottom: -55%;
    }
}

@media screen and (max-width: 541px){
    .carte{
        width: 100%;
        height: 35rem;
        font-size: 14px;
        padding: 0px 40px 0;
        bottom: -35%;
    }

    .txt {
        font-size: 140px;
    }
}

@media screen and (max-width: 475px) {
    .txt {
        font-size: 115px;
    }

    .carte {
        padding: 0px 20px 0;
        bottom: -30%;
    }
}

@media screen and (max-width: 320px) {

    article {
        font-size: 13px;
    }

    .carte{
        background: none;
        font-size: 15px;
        padding: 0px 20px 0;
        bottom: -30%;
    }
    .pdf {
        padding: 8px 3.5rem;
        position: relative;
        bottom: -5%;
    }
}

/*********************************************************************************************** VERTICALE ************************************************************************************/

@media screen and (max-height: 900px) {

    .pdf {
        position: relative;
        top: 0.5rem;
    }
}

/* @media screen and (max-height: 813px){
    .carte{
        background: none;
        height: 22rem;
    }

} */

@media screen and (max-height: 812px) {
    article {
        font-size: 14px;
    }

    .carte{
        bottom: -25%;
        height: 30rem;
    }

    .pdf {
        position: relative;
        top: 2rem;
    }
}

@media screen and (max-height: 800px){

    .carte {
        height: 12rem;
        background: none;
    }
}

@media screen and (max-height: 770px) {
    .carte {
        height: 28rem;
    }
}

@media screen and (max-height: 667px){
    
    .carte{
        bottom: -45%;
        height: 18rem;
    }

    .photo{
        display: none;
    }

}

@media screen and (max-height: 510px){

    .pdf {
        position: absolute;
        padding: 4px 2.5rem;
        bottom: inherit;
    }

    article{
        font-size: 12px;
    }

    .carte{
        bottom: 0%;
    }
    
}

@media screen and (max-height: 320px){
    .photo{
        display: none;
    }

    .carte{
        background: none;
        height: 12rem;
    }

    .pdf {
        position: absolute;
        padding: 4px 2.5rem;
        bottom: inherit;
    }

    article{
        font-size: 12px;
    }
    
}
