@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Megrim&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* HEADER */

@media screen and (max-width: 900px) {
    .logo{
        height: 60%;
        width: 60%;
    }
    .logo img{
        width: 80%;
    }
}

@media screen and (max-width: 670px) {
    .logo{
        height: 70%;
        width: 70%;
    }
    .logo img{
        width: 100%;
    }
    h3{
        display: none !important;
    }

   
}

/**************************************************************************************** ANCRE **************************************************************************************************/

.ancres{
    width: 33%;
}

.ancres a{
    font-family: 'Red Hat Text';
    text-transform: uppercase;    
    font-weight: 300;
    font-size: 1.1rem;
}

.ancres  a:hover{
    color: #064878 !important;
    font-weight: 400 !important;
}

.ancre{
    width: 100%;
}

#menu__toggle{
    display: none;
}

.navbar-brand a{
    text-decoration: none;
}

/************************************************************************************************** HORIZONTAL ***********************************************************************************/

@media screen and (max-width: 1024px){
    
    .px-5{
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    
    .ancres {
        position: fixed;
        top: 0;
        right: -150%;
        width: 110%;
        height: 100%;
        background: linear-gradient(222.86deg, #000000 -3.24%, #0B1C28 32.16%, #113067 68.06%);
        transition-duration: .25s;
        z-index: 3;
    }
    .ancre {
        width: 100%;
        position: absolute;
        bottom: 20%;
        left: 20%;
        height: 66%;
        flex-direction: column !important;
    }
    
    .ancres a {
        font-family: 'Red Hat Text';
        text-transform: uppercase;
        font-weight: 400;
        font-size: 3.75rem;
    }
    
    .menu__btn {
        position: fixed;
        right: 3rem;
        width: 3rem;
        height: 1rem;
        z-index: 9;
    }
    
    .menu__btn > span,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition-duration: .25s;
    }
    
    .menu__btn > span::after{
        content: '';
        top: 10px;
    }
    
    #menu__toggle:checked + .menu__btn > span::after{
        width: 10px;
    }
    
    #menu__toggle:checked ~ .ancres {
        right: -10% !important;
    }
    
}

@media screen and (max-width: 570px){

    #menu__toggle:checked ~ .ancres {
        right: -15% !important;
    }

    .ancre {
        bottom: 5%;
    }
    
    .ancres a {
        font-size: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .ancre a{
        font-size: 2.2rem;
    }
}

/****************************************************************************************************** VERTICALE ***********************************************************************/

@media screen and (max-height: 515px){
    h3 {
        visibility: hidden;   
    }
    .ancres a {
        font-size: 2rem;
    }
}

@media screen and (max-height: 425px) {
    .logs{
        position: relative;
        left: 35%;
    }
}

/* puces */

i{
    color: white;
}

.fa-xl:hover{
    font-size: 1.8em;
    transition: all .25s ease-out;
}