@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Sarala&display=swap');

*{
    margin: 0;
    padding: 0;
}

html{
    background: #0B1C28;
}

body{
    background: #000000;
}

a{
    text-decoration: none;
}


h1{
    font-family: 'Bebas Neue', cursive;
    /* font-style: italic; */
    font-size: 12.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 138.9%;
 }

p{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
}

/*  */

@media screen and (max-width: 1115px) {
    h1{
        font-size: 10.5rem;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 9.5rem;
    }
}

@media screen and (max-width: 670px) {
    h1 {
        font-size: 7.5rem;
    }

}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 5.5rem;
    }

    p {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 470px) {
    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 4.5rem;
    }
}

.cont{
    scroll-snap-type: y mandatory;
}

.col{
    scroll-snap-align: center;
}

img{
    width: 65%;
}


.appear{
    opacity: 0;  
    transform: translateY(20px);
    
}

@media screen and (max-width: 1115px) {
    img {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    img {
        width: 85%;
    }

}

@media screen and (max-width: 470px) {
    img {
        width: 95%;
    }
}

@media screen and (max-width: 320px) {
    img {
        width: 100%;
    }
}
