@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Megrim&family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
 
/***************************************************************************************************** INITIALISATION ************************************************************************/

*{
    margin: 0;
    padding: 0;
}

html{
    background: #0C2249;
    height: 100%;
}

body{
    background: linear-gradient(1.54deg, #000000 47.57%, #0C2249 86.98%, #113067 112.02%);
    height: 100%;
    position: relative;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    font-family: 'Red Hat Text';
}

.fa-2xl {
    line-height: 1em !important;
}


section{
    height: 75%;
}

/***************************************************************************** HORIZONTALE *****************************************************************************************************/



/************************************************************************************************** VERTICALE **********************************************************************************/



@media screen and (max-height: 515px){

    section {
        height: 94%;
        width: 97%;
    }
}

@media screen and (max-height: 425px) {

    section {
        height: 94%;
    }
}

@media screen and (max-height: 375px) {

    section {
        height: 96%;
    }
}


/******************************************************************************************************************* MAIN ***********************************************************************/


h1{
    font-family: 'Megrim';
    font-style: normal;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90px;
    
    
    background: linear-gradient(7.48deg, #162C52 6.82%, #27416E 37.39%, #E9E9E9 86.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/******************************************************************************************** HORIZONTAL ************************************************************************/

@media screen and (max-width: 1235px) {
    h1{
        font-size: 6rem;
    }
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 900px){
    h1 {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 800px){
    h1 {
        font-size: 5.5rem;
    }
}

@media screen and (max-width: 375px){
    h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 280px){
    h1 {
        font-size: 4rem;
    }
}

/********************************************************************************************************************** VERTICALE ******************************************************/

@media screen and (max-height: 375px) {
    h1{
        font-size: 4rem;
    }
}

/******************************************************************************************************************* INFO ******************************************************************/

.info p{
    font-weight: 500;
    font-size: 1.313rem;
    letter-spacing: 0.5em;
    text-transform: uppercase;
}

#cacher{
    display: none;
}

/********************************************************************************************* HORIZONTAL ************************************************************************************/

@media screen and (max-width: 1235px) {
    .info p{
        font-size: 1rem;
        letter-spacing: 0.3em;
    }
}

@media screen and (max-width: 900px) {
    .info p {
        font-size: 0.9rem;
        letter-spacing: 0.2em;
    }
}

@media screen and (max-width: 800px) {
    .sec1 h1,
    .info p {
        display: block;
    }

    .sec1{
        position: inherit;
    }

    .se2{
        display: none !important;
    }

    .info p{
        font-size: 1.5rem;
        letter-spacing: 0.3em;
    }
    .info{
        align-items: center !important;
        padding: 0;
    }
    .fa-2xl {
        font-size: 2em !important;
    }

    #cacher{
        display: block;
    }
}

@media screen and (max-width: 670px) {
    .info p{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 510px) {
    .info{
        align-items: flex-start !important;
    }
    .info p{
        font-size: .9rem;
    }

    h1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 375px) {
    .info p{
        font-size: 0.8rem;
    }

    h1{
        font-size: 5rem;
    }
}

@media screen and (max-width: 320px) {
    .info p{
        font-size: 0.7rem;
    }

    .fa-2xl {
        font-size: 1.5em !important;
    }

    .py-4 {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
}

@media screen and (max-width: 280px) {
    .info p{
        font-size: 0.6rem;
    }

    .fa-2xl {
        font-size: 1.5em !important;
    }

    .py-4 {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
}

/******************************************************************************************************* VERTICALE **********************************************************/


@media screen and (max-height: 520px) {
    .info p {
        font-size: 1rem;
    }

    .py-4 {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }

    #cacher{
        display: block !important;
    }
}

@media screen and (max-height: 375px) {

    .fa-2xl {
            font-size: 1.5em !important;
    }

    .info {
        height: 60%;
    }

    .info p{
        font-size: 0.9rem;
    }

    .py-4 {
        padding-top: 0.5rem!important;
        padding-bottom: 0.5rem!important;
    }
}


/************************************************************** SPAN *******************************************************/

main span {
    position: relative;
    height: 30rem;
    top: 25%;
    /* left: -1%; */
    border: 2px solid #113067;
}

/***************************************************** HORIZONTAL *******************************************************/

@media screen and (max-width: 1235px){
    main span{
        height: 25rem;
    }
}

@media screen and (max-width: 800px){
    main span{
        display: none;
    }
}

/************************************************************ VERTICAL *******************************************************************/

@media screen and (min-height: 1440px) {
    main span{
        top: 40%;
        left: -2%;

    }
}

@media screen and (min-height: 1368px){
    main span{
        display: none;
    }
}

@media screen and (max-height: 520px){
    main span{
        display: none;
    }
}

/********************************************************************************************** MESSAGE *******************************************************************************/

.message{
    position: relative;
}

.message p{
    position: absolute;
    left: 35%;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 0;
}

/*********************************************************************************************** HORIZONTAL *************************************************************************************/

@media screen and (min-width: 2000px) {
    .message p{
        left: 40%;
    }
}

@media screen and (max-width: 1235px){
    .message p{
        left: 30%;
    }
}

@media screen and (max-width: 1024px){
    .message p {
        left: 25%;
    }
}

@media screen and (max-width: 900px){
    .message p{
        font-size: 12px;
    }
}

/************************************************************************************************* VERTICALE *************************************************************************************/

@media screen and (max-height: 375px) {
    .message p {
        left: 35%;
    }
}

form,
.info{
    height: 50%;
}

input:focus,
textarea:focus{
    color: #FFFFFF;
}

input,
textarea{
    background: none;
    border: none;
    border-bottom: #FFFFFF solid 1.5px;
    width: 37.5rem;
    height: 2.5rem;
    margin-bottom: 3%;
    color: #FFFFFF;
}

input::placeholder,
textarea::placeholder{
    font-weight: 300;
    font-size: 1.313rem;    
    text-transform: uppercase;

    color: #FFFFFF;
}

#ev{
    font-weight: 400;
    font-size: 1rem ;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: #0C2248;
    color: #FFFFFF;
    border: none;

    width: 25rem;
    height: 2.5rem;
    position: relative;
    top: 2rem;
}

#ev:hover{
    font-weight: 500;
    border: solid 1px #0C2248;
    background: #000000;
}

/************************************************************************************************************* HORIZONTAL **********************************************************************/

@media screen and (max-width: 1235px){
    input,
    textarea{
        width: 31.5rem;
    }
}

@media screen and (max-width: 1024px){
    input, textarea {
        width: 25.5rem;
    }

    #ev{
        width: 20rem;
    }
}

@media screen and (max-width: 900px){
    input, textarea {
        width: 22.5rem;
    }

    input::placeholder,
    textarea::placeholder{
        font-size: 1rem;
    }
}

/**************************************************************************************************************************** VERTICAL *********************************************************/

@media screen and (max-height: 520px) {
    .se2{
        display: none !important;
    }

    .sec1 {
        position: absolute;
        top: 5%;
        width: 95%;
        left: 20px;
    }
}